/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_tik";
    src: url("../webfonts/flaticon_tik.woff2") format("woff2"),
url("../webfonts/flaticon_tik.woff") format("woff"),
url("../webfonts/flaticon_tik.eot") format("embedded-opentype"),
url("../webfonts/flaticon_tik.ttf") format("truetype"),
/* url("./flaticon_tik.svg?e9738bc53e2c081b03f28a58f73cbcee#flaticon_tik") format("svg") */
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_tik !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-location:before {
    content: "\f101";
}
.flaticon-user:before {
    content: "\f102";
}
.flaticon-calendar:before {
    content: "\f103";
}
.flaticon-calendar-1:before {
    content: "\f104";
}
.flaticon-right-up:before {
    content: "\f105";
}
.flaticon-arrow-right:before {
    content: "\f106";
}
.flaticon-airplane:before {
    content: "\f107";
}
.flaticon-planet-earth:before {
    content: "\f108";
}
.flaticon-world:before {
    content: "\f109";
}
.flaticon-lock:before {
    content: "\f10a";
}
.flaticon-helicopter:before {
    content: "\f10b";
}
.flaticon-tickets:before {
    content: "\f10c";
}
.flaticon-airplane-1:before {
    content: "\f10d";
}
.flaticon-airplane-2:before {
    content: "\f10e";
}
.flaticon-flight-mode:before {
    content: "\f10f";
}
.flaticon-luggage:before {
    content: "\f110";
}
.flaticon-credit-card:before {
    content: "\f111";
}
.flaticon-badge:before {
    content: "\f112";
}
.flaticon-calendar-2:before {
    content: "\f113";
}
.flaticon-seat:before {
    content: "\f114";
}
.flaticon-quotation:before {
    content: "\f115";
}
.flaticon-offline:before {
    content: "\f116";
}
.flaticon-fast-forward:before {
    content: "\f117";
}
.flaticon-play-button:before {
    content: "\f118";
}
.flaticon-file:before {
    content: "\f119";
}
.flaticon-calendar-3:before {
    content: "\f11a";
}
.flaticon-verify:before {
    content: "\f11b";
}
.flaticon-phone-call:before {
    content: "\f11c";
}
.flaticon-phone:before {
    content: "\f11d";
}
.flaticon-airplane-3:before {
    content: "\f11e";
}
.flaticon-send:before {
    content: "\f11f";
}
.flaticon-global:before {
    content: "\f120";
}
.flaticon-customer-review:before {
    content: "\f121";
}
.flaticon-luggage-1:before {
    content: "\f122";
}
.flaticon-ticket:before {
    content: "\f123";
}
.flaticon-secure-document:before {
    content: "\f124";
}
.flaticon-shopping-basket:before {
    content: "\f125";
}
.flaticon-telephone-call:before {
    content: "\f126";
}
.flaticon-bell:before {
    content: "\f127";
}
.flaticon-airplane-4:before {
    content: "\f128";
}
.flaticon-down:before {
    content: "\f129";
}
.flaticon-arrow-down-sign-to-navigate:before {
    content: "\f12a";
}
.flaticon-down-arrow:before {
    content: "\f12b";
}
.flaticon-airplane-5:before {
    content: "\f12c";
}
.flaticon-sun:before {
    content: "\f12d";
}
.flaticon-summer:before {
    content: "\f12e";
}
.flaticon-sun-1:before {
    content: "\f12f";
}
.flaticon-moon:before {
    content: "\f130";
}
.flaticon-moon-1:before {
    content: "\f131";
}
.flaticon-night:before {
    content: "\f132";
}
.flaticon-check:before {
    content: "\f133";
}
.flaticon-discount:before {
    content: "\f134";
}
.flaticon-person:before {
    content: "\f135";
}
.flaticon-add-user:before {
    content: "\f136";
}
.flaticon-avatar:before {
    content: "\f137";
}
.flaticon-globe:before {
    content: "\f138";
}
.flaticon-mailbox:before {
    content: "\f139";
}
.flaticon-letter:before {
    content: "\f13a";
}
.flaticon-location-1:before {
    content: "\f13b";
}
.flaticon-man:before {
    content: "\f13c";
}
.flaticon-mom:before {
    content: "\f13d";
}
.flaticon-search:before {
    content: "\f13e";
}
.flaticon-basket:before {
    content: "\f13f";
}

